body {
  background: #ccd6dd;
}

p {
  text-size: .75em;
  line-height: 1em;
}

img {
  width: 100%;
}

ul {

}

li {
  list-style: none;
}

#myCarousel {
  text-align: center;
  margin: 0;
  background: #ccd6dd;
}

.container {
  margin: auto;
  display: block;
}

.first {
  background: white;
  float:left;
  height: 400px;
}

.second {
  float: left;
  background: white;
  height: 400px;
}

.third {
  float: left;
  background: white;
  height: 400px;
  padding: 2%;
}

.col-xs-12{
  background: white;
  margin: 20px;
  padding: 30px;
}

/*---------- MEDIA QUERIES --------*/

@media screen and (min-width: 900px){
  body {
    width: 900px;
  }
}
